.aboutContainer{
  margin-top: 11vh;
  backdrop-filter: blur(8px);
}
.about{
  width: 50vw;
  text-align: center;
  margin-left: 25vw;
  backdrop-filter: blur(8px);
}

.main{
  z-index: 0;
  margin-top: 20px;
  display: flex;
  gap: 5px;
  box-sizing: content-box;
}

.my-container{
  /* margin: 10px auto; */
  width: 300px;
  cursor: pointer;
  text-align: center;
}

.team-image img{
  width: 10vw;
  height: 18vh;
  border-radius: 5vw;
  overflow: hidden;
}
ul{
  list-style: none;
}
h3{
  margin-top: 3vh;
  color: brown;
}
h1{
  color: rgb(0, 128, 0, 0.5);
}

.about p{
  font-weight: 900;
  font-size: large;
}
.about li{
  font-weight: 900;
  font-size: large;
}
