#commentContainer{
    position: absolute;
}
#commentContainer h3{
    margin-left: 50vw;
    margin-top: 60vh;
}
form textarea{
    width: 45vw;
    height: 10vh;
    background-color: rgb(240, 248, 255, 0.5);
    border-radius: 10px;
    margin-left: 50vw;
}
form button{
    position: absolute;
    padding: 0.5em;
    margin-top: 12vh;
    margin-left: -27vw;
    width: 10vw;
}
form button:hover{
    background-color: rgba(114, 162, 235, 0.2);
    
}
/* .commentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.comments-section{
    /* position: fixed; */
    /* background-color: rgb(240, 248, 255, 0.5); */
    /* margin-left: -5vw; */
    position: absolute;
    border-radius: 1em;
    margin-left: 3vw;
    width: 45vw;
    height: 10vh;
    margin-top: -65vh;
}
.comments-section button{
    padding: 0.2em;
    width: 5vw; 
}
.comments-section h4{
    color: brown;
    font-size: xx-large;
}
