.tophome{
    margin-top: 11vh;
}
.home{
    margin-top: 11vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    max-width: 60vw;
    gap: 2vh;
    margin-left: 15vw; 
}
.intro{
    /* text-align: center; */
    /* width: 60vw; */
    /* margin-left: 15vw; */
    height: 60vh;
    width: 100vw;
    /* background-image: url('https://cdn.pixabay.com/photo/2022/06/02/19/25/giraffes-7238815_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-columns: 30vw 70vw;
    /* align-items: center; */
    padding-left: 3vw;
    /* padding-right: 3vw; */
    justify-content: space-between;
}

.image {
    position: relative;
    width: 20vw;
    height: 10vw;
    margin: 3px;
    transition: transform 0.7s ease-in-out;
}
.image:hover{
    transform: scale(1.2);
}

.image img {
    width: 100%;
    height: 100%;
}

.image h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(192, 132, 80);
}
.intro h1{
    
    margin-bottom: 3vh;
    color: rgb(0, 128, 0, 0.5);
    font-size: 55px;
}
.intro p {
    font-size: 20px;
}
.images img {
    height: 60vh;
    width: 100%;
    
}
.images{
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    width: 60vw;
    margin-left: 5vw;
}
