*{
    margin: 0;
    padding: auto;
}

#search{
    margin-top: 63vh;
    margin-left: 25vw;
    position: absolute;
    padding-left: 1vw;
}

#search input{
    padding: 5px;
    border-radius: 5px;
    width: 40vw;
    border: 0cap;
}

label{
    color: black;
}