*{
    margin: 0;
    padding: auto;
}

#search{
    top: 90px;
    position: absolute;
    padding-left: 1vw;
}

#search input{
    padding: 5px;
    border-radius: 5px;
}

label{
    color: white;
}